<html>
<head>
<h1>D-Boy Slimmy</h1>
<h2>aka Chocolate Thunder</h2>
<style>
	li {
		font-family: "Trebuchet MS";
	}

	.bling:hover{
		color: blue;
		text-decoration: underline;
	}

	.blue {
		color: blue;
		font-family: "Comic Sans MS";
	}
</style>
</head>
<body>
	<ul>
		<li>Name: <span class = "bling">Dagmawi Sraj</span></li>
		</br>
		<li>When blue exorcist is life: </br></br>
			<img src='https://78.media.tumblr.com/105fd370cd8e3df695b43cec52e77111/tumblr_obc9whbOWL1tjighoo1_500.gif' alt="From Tumblr"></li>
		</br>
		<li class = "blue">Blue</li>
	</ul>
</body>
</html>